* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  max-height: 800px;
  background: url(./images/bg-pattern-desktop.svg) no-repeat center;
  background-size: cover;
  margin: 0 2rem;
  -webkit-box-shadow: 0 10px 15px rgba(206, 151, 151, 0.2);
          box-shadow: 0 10px 15px rgba(206, 151, 151, 0.2);
}

.logo-container-mobile {
  display: none;
}

.col-left {
  width: 60%;
  color: #ce9797;
  padding: 4rem 0;
}

.logo-container {
  margin: 6rem 6.7rem;
}

.logo-container img {
  cursor: pointer;
}

.col-left-container {
  height: 100%;
  margin: 0 6.7rem;
  padding-bottom: 3rem;
}

.col-left__heading {
  font-size: 4rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
}

.col-left__heading span {
  display: inline-block;
  font-weight: 600;
  color: #413a3a;
}

.col-left__text {
  line-height: 1.8;
  margin-bottom: 2rem;
}

.input-block {
  width: 100%;
  position: relative;
}

.input-container {
  position: relative;
}

.errorMsg {
  display: none;
  color: #f96262;
  font-size: 0.9rem;
  margin: 1rem 0 0 2rem;
}

.input {
  width: 100%;
  height: 3rem;
  border: 1px solid #ce9797;
  border-radius: 25px;
}

.input:focus {
  outline-width: 0;
}

.input::-webkit-input-placeholder {
  color: #ce9797;
  opacity: 0.6;
  padding-left: 1.8rem;
}

.input:-ms-input-placeholder {
  color: #ce9797;
  opacity: 0.6;
  padding-left: 1.8rem;
}

.input::-ms-input-placeholder {
  color: #ce9797;
  opacity: 0.6;
  padding-left: 1.8rem;
}

.input::placeholder {
  color: #ce9797;
  opacity: 0.6;
  padding-left: 1.8rem;
}

.input[type='email'] {
  color: #ce9797;
  font-size: 1rem;
  padding: 0 2rem;
}

.btn {
  width: 85px;
  height: 100%;
  border: none;
  border-radius: 25px;
  background: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  -webkit-box-shadow: 0 10px 15px rgba(206, 151, 151, 0.4);
          box-shadow: 0 10px 15px rgba(206, 151, 151, 0.4);
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0px;
}

.btn:hover {
  opacity: 0.8;
}

.btn:focus {
  outline-width: 0;
}

.btn:active {
  -webkit-transform: translateX(2px);
          transform: translateX(2px);
  -webkit-box-shadow: 0 5px 10px rgba(206, 151, 151, 0.8);
          box-shadow: 0 5px 10px rgba(206, 151, 151, 0.8);
}

.error-icon {
  display: none;
  position: absolute;
  top: 12px;
  right: 100px;
}

.error-text {
  font-size: 0.9rem;
  margin-left: 2rem;
}

.col-right {
  width: 40%;
  background: url("./images/hero-desktop.jpg") no-repeat center;
  background-size: cover;
}

@media only screen and (max-width: 1178px) {
  .logo-container {
    margin: 6rem 4rem;
  }
  .col-left-container {
    margin: 0 4rem;
  }
  .col-left__heading {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 940px) {
  body {
    height: auto;
  }
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: none;
    margin: 0;
  }
  .logo-container-mobile {
    display: block;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 80px;
    margin-left: 2rem;
  }
  .logo-container-mobile img {
    width: 110px;
    height: auto;
    cursor: pointer;
  }
  .logo-inner-container-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
  .logo-container {
    display: none;
  }
  .col-right {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    background-image: url("./images/hero-mobile.jpg");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 300px;
  }
  .col-left {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    width: 80%;
    margin: 2rem auto;
    padding-top: 2rem;
  }
  .col-left-container {
    text-align: center;
  }
  .col-left__heading {
    font-size: 2.6rem;
  }
}

@media only screen and (max-width: 770px) {
  .col-left {
    width: 90%;
    margin: 2rem auto;
  }
  .col-left-container {
    margin: 0;
  }
}
/*# sourceMappingURL=style.css.map */